function mult 3        // local0=acc, local1=cnt, local2=val
  push argument 0
  pop local 1
  push argument 1
  pop local 2
  // acc já inicia em 0

label M_LOOP
  push local 1
  push constant 0
  eq
  if-goto M_END

  push local 0
  push local 2
  add
  pop local 0

  push local 1
  push constant 1
  sub
  pop local 1
  goto M_LOOP

label M_END
  push local 0
  return
